@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 7.95 36.89% 44.12%;
    --ring: 13 42.61% 58.45%;
    --input: 13 8.72% 67.98%;
    --muted: 39.31 15.85% 35.88%;
    --accent: 39.31 15.85% 35.88%;
    --border: 39.31 15.85% 35.88%;
    --popover: 7.95 36.89% 44.12%;
    --primary: 33.93 100% 76.08%;
    --secondary: 63.08 23.93% 68.04%;
    --background: 26.87 69.07% 80.98%;
    --foreground: 13 0% 98.46%;
    --destructive: 11 95% 42%;
    --card-foreground: 13 0% 100%;
    --muted-foreground: 343 0% 93.85%;
    --accent-foreground: 43 0% 100%;
    --popover-foreground: 13 0% 98.46%;
    --primary-foreground: 13 0% 100%;
    --secondary-foreground: 343 0% 100%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
    --bg-background-color: #c9a66b;
    --bg-background-color-1: #e1d5bf;
    --bg-background-color-5: #ccbda2;
    --bg-background-color-6: #a9936a;

    --bg-background-color-2: #e4d3b4;
    --bg-background-color-3: #f3f0e2;
    --bg-background-color-4: #ede8d4;
    --bg-background-color-7: #6a604d;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
